#wrap2{
    position: relative;
    margin-top: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 80vw;
    margin-bottom: 10vw;
}
#wrap2 #title{
    margin-top: 2vw;
    text-align: left;
    width: 76vw;
    height: 7vw;
    display: flex;
    z-index: 10;
}
#wrap2 #title h1{
    font-size: calc(100vw * 128/ 1920);
    color: #544540;
    font-weight: bolder;
    letter-spacing: -.5vw; /* 자간 조절 */
}
#wrap2 #title .line2{
    width: 100%;
    height: 0vw;
    border: #544540 .2vw solid;
    stroke-linecap: round;
    margin-top: 4.8vw;
    margin-left: -.7vw;
}
#wrap2 #container{
    position: relative;
    height: 28vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-top: 10vw;
}
#wrap2 #left{
    width: 18vw;
    height: auto;
    margin-left: 10vw;
    margin-right: 6vw;
    text-align: right;
    z-index: 1;
    border: #e6a4b2bb 4px solid;
}
#wrap2 #left img{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 1vw;
}
/* #wrap2 #left .content{
    font-size: calc(100vw * 28/ 1920);
    color: #55453F;
    margin: 1vw 0;
} */
#wrap2 #left .content1{
    font-size: calc(100vw * 20/ 1920);
    color: #735E59;
        padding: 1vw .5vw;
}
#wrap2 #left .line{
    width: 100%-3px;
    height: 0vw;
    border: #e6a4b2bb 2.5px solid;
    stroke-linecap: round;
    margin-bottom: 1vw;
}
#wrap2 #right{
    width: 50vw;
    height: auto;
    margin-right: 10vw;
    z-index: 1;
    text-align: left;
}
#wrap2 #right img{
    width: 100%;
    height: 100%;
}
#wrap2 #right .content3{
    font-size: calc(100vw * 40/ 1920);
    color: #55453F;
}
#wrap2 #right .content2{
    margin-top: 2vw;
    font-size: calc(100vw * 23/ 1920);
    color: #55453F;
    line-height: 2; /* 행간 조절 */
}
#wrap2 #right .content4{
    margin-bottom: 4vw;
    font-size: calc(100vw * 28/ 1920);
    color: #55453F;
}