@font-face {
    font-family: 'AppleSDGothicNeoB';
    src: url("../img/AppleSDGothicNeoB.ttf");
}
@font-face {
    font-family: 'AppleSDGothicNeoEB';
    src: url("../img/AppleSDGothicNeoEB.ttf");
}
@font-face {
    font-family: 'AppleSDGothicNeoH';
    src: url("../img/AppleSDGothicNeoH.ttf");
}
@font-face {
    font-family: 'AppleSDGothicNeoL';
    src: url("../img/AppleSDGothicNeoL.ttf");
}
@font-face {
    font-family: 'AppleSDGothicNeoM';
    src: url("../img/AppleSDGothicNeoM.ttf");
}
@font-face {
    font-family: 'AppleSDGothicNeoR';
    src: url("../img/AppleSDGothicNeoR.ttf");
}
@font-face {
    font-family: 'AppleSDGothicNeoSB';
    src: url("../img/AppleSDGothicNeoSB.ttf");
}
@font-face {
    font-family: 'AppleSDGothicNeoT';
    src: url("../img/AppleSDGothicNeoT.ttf");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-x: hidden;
    cursor: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 상위 요소에서 상속된 색상 사용 또는 직접 색상 지정 가능 */
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    width: 100vw;
    height: auto;
    background-color: #FFF7F3;
    font-family: 'AppleSDGothicNeoR';
}
/* 수직 스크롤 바 스타일 */
::-webkit-scrollbar {
    width: 12px; /* 스크롤 바 너비 */
}

::-webkit-scrollbar-thumb {
    background-color: #ce8091c9; /* 스크롤 바 색상 */
    border-radius: 10px; /* 둥근 테두리 */
}

::-webkit-scrollbar-track {
    background-color: #FFF7F3; /* 스크롤 바 트랙 색상 */
}

/* 수평 스크롤 바 스타일 */
::-webkit-scrollbar-horizontal {
    height: 12px; /* 수평 스크롤 바 높이 */
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #ce8091c9; /* 수평 스크롤 바 색상 */
}
/* 네비게이션 바 */
header {
    display: flex;
    z-index: 20;
    overflow: hidden;
    height: 10vh;
    background-color: #49403ed5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    transition: all 1s ease;
}
header:hover{
    background-color: #332c2a4d;
}
header.down {
    top: -10vh;
}
header.up {
    top: 0;
    transition: all 1s ease;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 13vw;
}
.logo a {
    text-decoration: none;
    font-size: calc(100vw * 32/ 1920);
    font-weight: bolder;
    color: #fff;
    display: inline-block;
    transition: all 1s ease;
}
.nav-right li a:hover,.logo a:hover {
    color: #ce8091;
}
header ul {
    list-style: none;
    display: flex;
}
.nav-right {
    display: flex;
    align-items: center;
    margin-right: 13vw;
}
.nav-right a {
    color: #fff;
    font-size: calc(100vw * 32/ 1920);
    text-decoration: none;
    margin-left: 4vw;
}
@keyframes over{
    0%{
        margin-top: 0px;    
        opacity: 1;
    }
    70%{
        margin-top: -100px;    
        opacity: .6;
    }
    100%{
        margin-top: -100px;  
        opacity: 0; 
    }
}
.nav-up {
    animation: over 1.5s ease forwards;
}
.nav-down{
    animation: over 2s ease reverse;
}
.pointer {
    position: fixed;
    width: 30px;
    height: 30px;
    background: #ABBAFF;
    border-radius: 50%;
    top: 0;
    left: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    transition: all 0.3s cubic-bezier(.07, .82, .17, 1);
    z-index: 9999;
    cursor: none;
}
#topButton {
    position: fixed;
    bottom: 2vh;
    right: 2vh;
    background-color: #b1536785;
    font-family: sans-serif;
    font-size: 40px;
    color: #ffffffd2;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    height: 4vw;
    width: 4vw;
    z-index: 99;
}
::selection {
    background-color: #b1536785; 
    color: #fff; /* 선택된 텍스트의 색상 */
}

/* 선택을 해제한 후의 텍스트 스타일 지정 */
::-moz-selection {
    background-color: #b1536785; /* Firefox에서의 선택 영역의 배경 색 */
    color: #fff; /* 선택된 텍스트의 색상 */
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 9999;
    opacity: 1;
    transition: 0.5s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.hidden2 {
    display: none;
}
.no-scroll {
    overflow: hidden;
}
.loading {
    text-align: center;
}
.loading h2 {
    color: black;
    font-size: calc(100vw * 32/ 1920);
}
.loading span {
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    margin: 0.5em;
    background: #3d3634bd;
    border-radius: 50%;
    animation: loading 1s infinite alternate;
}
.loading span:nth-of-type(2) {
    background: #3d3634bd;
    animation-delay: 0.2s;
}
.loading span:nth-of-type(3) {
    background: #3d3634bd;
    animation-delay: 0.4s;
}
.loading span:nth-of-type(4) {
    background: #3d3634bd;
    animation-delay: 0.6s;
}
@keyframes loadings{
    0%{
        background: #3d3634bd;
    scale: 1;
    }
    70%{
        background: #3d3634bd;
        scale: 1;
    }
    100%{
        background: #49403e;
        scale: 200;
    }
}
.loading span:nth-of-type(5) {
    background: #3d3634bd;
    animation-delay: 0.8s;
}
.loading span:nth-of-type(6) {
    background: #3d3634bd;
    animation-delay: 1.0s;
}
.loading span:nth-of-type(7) {
    background: #3d3634bd;
    animation-delay: 1.2s;
    animation: loadings 3.5s ease forwards;
}

/*
   * Animation keyframes
   * Use transition opacity instead of keyframes?
   */
@keyframes loading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
footer{
    width: 100%;
    height: 8vw;
    background-color: #49403ed5;
    display: flex;
    align-items: center;
}
footer a, footer p{
    color: #ffffff9c; 
    margin:1vw 6vw;   
    font-size: calc(100vw * 24 / 1920);
}