#wrap4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 54vw;
    margin-bottom: 30vw;
}
#wrap4 #title {
    /*position: sticky; #ABBAFF
        mix-blend-mode: difference;
    top: 4vw;*/
    margin-top: 2vw;
    text-align: left;
    width: 76vw;
    height: 7vw;
    display: flex;
    z-index: 10;
}
#wrap4 #title h1 {
    font-size: calc(100vw * 128/ 1920);
    color: #544540;
    font-weight: bolder;
    letter-spacing: -.5vw;
    /* 자간 조절 */
}
#wrap4 #title .line2 {
    width: 74%;
    height: 0;
    border: #544540  0.2vw solid;
    stroke-linecap: round;
    margin-top: 4.88vw;
    margin-left: -.9vw;
}
#wrap4 #container {
    position: relative;
    height: 28vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
#wrap4 #left {
    width: 10vw;
    height: 30vw;
    margin-left: 10vw;
    margin-right: 6vw;
    text-align: right;
    z-index: 1;
}
#wrap4 .titled {
    font-size: calc(100vw * 50/ 1920);
    color: #3d3634;
    margin-top: 10vw;
    margin-bottom: 4vw;
    border-bottom: #544540a2 2px solid;
    width: 56vw;
}
#wrap4 #left .content1 {
    text-align: left;
    font-size: calc(100vw * 30/ 1920);
    color: #544540cb;
    margin-top: 2vw;
}
#wrap4 #right {
    width: 40vw;
    height: 30vw;
    margin-right: 10vw;
    z-index: 1;
    text-align: left;
}
#wrap4 #right .content2 {
    position: relative;
    width: 40vw;
    height: 0.8vw;
    margin-top: 2.4vw;
    margin-bottom: 2.8vw;
    margin-right: 10vw;
    z-index: 1;
    text-align: left;
    background-color: #e6a4b2bb;
    border-radius: 10px;
}
#wrap4 #right .content3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 0.8vw;
    z-index: 1;
    text-align: left;
    background-color: #c26478f1;
    border-radius: 10px;
}
#wrap4 #right .content3.f.fan{
    animation: cot1 2s ease forwards;
}
@keyframes cot1{
    0%{
        width: 0;
    }
    10%{
        width: 0;
    }
    100%{
        width: 34vw;
    }
}
#wrap4 #right .content3.s0.s0an {
    animation: cot2 2.2s ease forwards;
}
@keyframes cot2{
    0%{
        width: 0;
    }
    15%{
        width: 0;
    }
    100%{
        width: 32vw;
    }
}
#wrap4 #right .content3.t.tan {
    animation: cot3 2.3s ease forwards;
}
@keyframes cot3{
    0%{
        width: 0;
    }
    20%{
        width: 0;
    }
    100%{
        width: 36vw;
    }
}
#wrap4 #right .content3.f1.f1an {
    animation: cot4 2.6s ease forwards;
}
@keyframes cot4{
    0%{
        width: 0;
    }
    25%{
        width: 0;
    }
    100%{
        width: 24vw;
    }
}
#wrap4 #right .content3.s1.s1an {
    animation: cot5 2.9s ease forwards;
}
@keyframes cot5{
    0%{
        width: 0;
    }
    30%{
        width: 0;
    }
    100%{
        width: 20vw;
    }
}
#wrap4 #right .content3.t1.t1an {
    animation: cot6 3.2s ease forwards;
}
@keyframes cot6{
    0%{
        width: 0;
    }
    35%{
        width: 0;
    }
    100%{
        width: 34vw;
    }
}
#wrap4 #right .content3.f2.f2an {
    animation: cot7 3.6s ease forwards;
}
@keyframes cot7{
    0%{
        width: 0;
    }
    40%{
        width: 0;
    }
    100%{
        width: 20vw;
    }
}
#wrap4 #right .content3.s02.s02an {
    animation: cot8 4s ease forwards;
}
@keyframes cot8{
    0%{
        width: 0;
    }
    45%{
        width: 0;
    }
    100%{
        width: 30vw;
    }
}
#wrap5 {
    position: relative;
    margin-top: 30vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 30vw;
}
#wrap5 #container {
    width: 74vw;
}
#wrap5 #container h3{
    font-size: calc(100vw * 70/ 1920);
    color: #e6a4b2bb;
    letter-spacing: -.5vw;
    transition: all 2s ease;
    transform:rotate3d(1, 0, 0, 90deg);
        opacity: 0.2;
}
.cnt {
    animation: cnt 1s ease forwards;
}
@keyframes cnt {
    from { 
        transform:perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0.2;
    }
    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, -30deg);
        animation-timing-function: ease-in;
        color: #e6a4b2bb;
    }
    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
        opacity: 1;
    }
    90% {
        transform:perspective(400px) rotate3d(1, 0, 0, 0deg);
    }
    to {
        transform:perspective(400px) rotate3d(1, 0, 0, 0deg);
        opacity: 1;
        color: #544540;
    }
}
.cnt2 {
    animation: cnt2 1s ease forwards;
}
@keyframes cnt2 {
    from { 
        transform:perspective(1600px) rotate3d(1, 0, 0, 90deg);
        opacity: 0.2;
    }
    60% {
        transform: perspective(1600px) rotate3d(1, 0, 0, -30deg);
        animation-timing-function: ease-in;
        color: #e6a4b2bb;
    }
    80% {
        transform: perspective(1600px) rotate3d(1, 0, 0, 20deg);
        opacity: 1;
    }
    90% {
        transform:perspective(1600px) rotate3d(1, 0, 0, 0deg);
    }
    to {
        transform:perspective(1600px) rotate3d(1, 0, 0, 0deg);
        opacity: 1;
        color: #544540;
    }
}
#wrap5 #container .main_conent {
    margin: 1vw 0;
    text-align: end;
}
#wrap5 #container .main_conent2 {
    margin: 24vw 0;
    text-align: center;
}