#wrap{
    position: relative;
    margin-top: 10vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
}
#title{
    margin-top: 2vw;
    text-align: left;
    width: 76vw;
    height: 7vw;
    display: flex;
}
#title h1{
    font-size: calc(100vw * 128/ 1920);
    color: #544540;
    font-weight: bolder;
    letter-spacing: -.5vw; /* 자간 조절 */
}
#title .line2{
    width: 70.55%;
    height: 0vw;
    border: #544540 0.2vw solid;
    stroke-linecap: round;
    margin-top: 4.82vw;
}
#title .line22{
    width: 69%;
    height: 0vw;
    border: #544540 0.2vw solid;
    stroke-linecap: round;
    margin-top: 4.82vw;
}
#title .line222{
    width: 68.8%;
    height: 0vw;
    border: #544540 0.2vw solid;
    stroke-linecap: round;
    margin-top: 4.82vw;
}
#title .line2222{
    width: 69.3%;
    height: 0vw;
    border: #544540 0.2vw solid;
    stroke-linecap: round;
    margin-top: 4.82vw;
}
#container{
    position: relative;
    margin-top: 2vw;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 20vw;
}
#container a:hover{
    cursor: pointer;
}
#left{
    width: 35vw;
    text-align: left;
}
#left2{
    width: 34vw;
    margin-left: 2vw;
    text-align: left;
}
.content{
    font-size: calc(100vw * 40/ 1920);
    color: #735E59;
    text-align: left;
    margin-top: 10vw;
    width: 75vw;
    font-weight: bolder;
    animation: spark2 4s ease infinite alternate-reverse;
}
@keyframes spark2{
    0%{
        opacity: 1;
        color: #735E59;
    }
    80%{
        opacity: 1;
        color: #735E59;

    }100%{
        opacity: 0.7;
        color: #ce8091c9;
    }
}
.titled{
    font-size: calc(100vw * 40/ 1920);
    color: #494949;
    margin-top: 4vw;
    margin-bottom: 4vw;
}
#left .content1,#left2 .content1{
    font-size: calc(100vw * 24/ 1920);
    color: #494949;
    margin-top: 2vw;
    padding-bottom: 2vw;
    border-bottom: #5445404b 2px solid;
}
#left .content2,#left2 .content2{
    font-size: calc(100vw * 26/ 1920);
    color: #735E59;
    margin-top: 1vw;
}
#left .content3,#left2 .content3{
    display: inline-block;
    padding: .7vw 2vw;
    border-radius: 2vw;
    font-size: calc(100vw * 32/ 1920);
    background-color: #ce8091c9;
    color: #fff;
    margin-top: 4vw;
    transition: all .5s ease;
}
#left .content3:hover,#left2 .content3:hover{
    background-color: #544540;
    transition: all .5s ease;
}#fst1 {
    margin-top: 4vw;
    width: 75vw;
    height: 43.5vw;
    overflow: hidden;
    position: relative;
}
#fst {
    margin-top: 4vw;
    width: 75vw;
    height: 41vw;
    overflow: hidden;
    position: relative;
}

#imgSet{
    position: relative; 
    height: 41vw;
    box-sizing: border-box; 
    overflow: hidden;
}
#imgSet .img {
    position: absolute; 
    top: 0; 
    left: 0; 
    overflow: hidden;
}
    #imgSet img {
    width: 100%;
    height: auto;
        object-fit: cover;
}
#imgSet .hide{
    animation: imgMotion 1s forwards;
}
@keyframes imgMotion {
    from{width: 75vw; height: 41vw;} 
    to{width: 0; height: 41vw;}
}
#right{
    width: 38vw;
    text-align: left;
    margin-left: 2vw;
}
#right2{
    text-align: left;
    width: 39vw;
}
#right .content1,#right2 .content1{
    font-size: calc(100vw * 19/ 1920);
    color: #735E59;
    margin-top: 1vw;
}
.content1 span{
    color: #735E59;
    font-size: calc(100vw * 20/ 1920);
    margin-left: 7.6vw;
}
span#second{
    color: #735E59;
    font-size: calc(100vw * 20/ 1920);
    margin-left: 10vw;
}
span#third{
    color: #735E59;
    font-size: calc(100vw * 19/ 1920);
    margin-left: 5.6vw;
}
#header2 {
    z-index: 3;
    overflow: hidden;
    height: 9.2vh;
    position: fixed;
    bottom: .6vw;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#header2 ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
    display: flex;
    align-items: center;
}
.nav a {
    color: #3737377e;
    font-size: calc(100vw * 32/ 1920);
    margin: 0 2.7vw;
    transition: all 1s ease;
    mix-blend-mode: difference;
    padding: .6vw 2.4vw;
}
.now a{
    font-size: calc(100vw * 40/ 1920);
    padding: .6vw 2.4vw;
    border-radius: 50px;
    background: #685b5480;
    color: #fff;
    transition: all 1s ease;
}
.nav a:hover{
    border-radius: 50px;
    background: #ce80917a;
    color: #fff;
    transition: all 1s ease;
}
.back{
    position: absolute;
    top: 0vw;
    left: 0vw;
    font-size: calc(100vw * 50/ 1920);
    color: #ce8091c9;
    font-weight: bolder;
    transition: all .5s ease;
}
.back:hover{
    font-size: calc(100vw * 60/ 1920);
    color: #544540;
    transition: all .5s ease;
}
